<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 邮件消息数据访问映射 -->
<mapper namespace="com.github.dactiv.basic.message.dao.EmailMessageDao">

    <resultMap id="baseResultMap" type="com.github.dactiv.basic.message.dao.entity.EmailMessage">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="from_user" jdbcType="VARCHAR" property="fromUser"/>
        <result column="to_user" jdbcType="VARCHAR" property="toUser"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="retry_count" jdbcType="TINYINT" property="retryCount"/>
        <result column="max_retry_count" jdbcType="TINYINT" property="maxRetryCount"/>
        <result column="last_send_time" jdbcType="TIMESTAMP" property="lastSendTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="success_time" jdbcType="TIMESTAMP" property="successTime"/>
        <result column="exception" jdbcType="VARCHAR" property="exception"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 查询条件 -->
    <sql id="selectCondition">
        <include refid="com.github.dactiv.basic.basic.message.support.Include.emailMessageSelectCondition"></include>
    </sql>

    <sql id="baseColumnList">
        id,
        creation_time,
        type,
        from_user,
        to_user,
        title,
        content,
        retry_count,
        max_retry_count,
        last_send_time,
        status,
        success_time,
        exception,
        remark
    </sql>

    <select id="get" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_email_message
        WHERE
            id = #{id}
    </select>

    <select id="lock" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_email_message
        WHERE
            id = #{id}
        FOR UPDATE
    </select>

    <select id="count" resultType="long" parameterType="java.util.Map">
        SELECT
            COUNT(id)
        FROM
            tb_email_message
        <include refid="selectCondition" />
    </select>

    <select id="find" resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_email_message
        <include refid="selectCondition"/>
        ORDER BY id DESC
        <if test="first != null and last != null">
            LIMIT #{first}, #{last}
        </if>
    </select>

    <delete id="delete">
        DELETE FROM tb_email_message WHERE id = #{id}
    </delete>

    <update id="update" parameterType="emailMessage">
        UPDATE
            tb_email_message
        SET
            creation_time = #{creationTime},
            type = #{type},
            from_user = #{fromUser},
            to_user = #{toUser},
            title = #{title},
            content = #{content},
            retry_count = #{retryCount},
            max_retry_count = #{maxRetryCount},
            last_send_time = #{lastSendTime},
            status = #{status},
            success_time = #{successTime},
            exception = #{exception},
            remark = #{remark}
        WHERE
            id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="emailMessage">
        INSERT INTO tb_email_message (
            creation_time,
            type,
            from_user,
            to_user,
            title,
            content,
            retry_count,
            max_retry_count,
            last_send_time,
            status,
            success_time,
            exception,
            remark
        ) VALUES (
            #{creationTime},
            #{type},
            #{fromUser},
            #{toUser},
            #{title},
            #{content},
            #{retryCount},
            #{maxRetryCount},
            #{lastSendTime},
            #{status},
            #{successTime},
            #{exception},
            #{remark}
        )
    </insert>

    <!-- 将代码添加到以下区域，以免生成后被覆盖 -->

</mapper>