<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 站内信消息数据访问映射 -->
<mapper namespace="com.fuyu.basic.message.dao.SiteMessageDao">

    <resultMap id="baseResultMap" type="com.fuyu.basic.message.dao.entity.SiteMessage">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="channel" jdbcType="VARCHAR" property="channel"/>
        <result column="from_user_id" jdbcType="INTEGER" property="fromUserId"/>
        <result column="to_user_id" jdbcType="INTEGER" property="toUserId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="push_message" jdbcType="TINYINT" property="pushMessage"/>
        <result column="is_read" jdbcType="TINYINT" property="isRead"/>
        <result column="read_time" jdbcType="TIMESTAMP" property="readTime"/>
        <result column="link" jdbcType="VARCHAR" property="link" typeHandler="com.fuyu.basic.message.dao.entity.handler.MapTypeHandler"/>
        <result column="data" jdbcType="VARCHAR" property="data" typeHandler="com.fuyu.basic.message.dao.entity.handler.MapTypeHandler"/>
        <result column="retry_count" jdbcType="TINYINT" property="retryCount"/>
        <result column="max_retry_count" jdbcType="TINYINT" property="maxRetryCount"/>
        <result column="last_send_time" jdbcType="TIMESTAMP" property="lastSendTime"/>
        <result column="exception" jdbcType="VARCHAR" property="exception"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="success_time" jdbcType="TIMESTAMP" property="successTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 查询条件 -->
    <sql id="selectCondition">
        <include refid="com.fuyu.basic.message.support.Include.siteMessageSelectCondition"></include>
    </sql>

    <sql id="baseColumnList">
        id,
        creation_time,
        type,
        channel,
        from_user_id,
        to_user_id,
        title,
        content,
        push_message,
        is_read,
        read_time,
        link,
        data,
        retry_count,
        max_retry_count,
        last_send_time,
        exception,
        status,
        success_time,
        remark
    </sql>

    <select id="get" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_site_message
        WHERE
            id = #{id}
    </select>

    <select id="lock" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_site_message
        WHERE
            id = #{id}
        FOR UPDATE
    </select>

    <select id="count" resultType="long" parameterType="java.util.Map">
        SELECT
            COUNT(id)
        FROM
            tb_site_message
        <include refid="selectCondition" />
    </select>

    <select id="find" resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_site_message
        <include refid="selectCondition"/>
        ORDER BY id DESC
        <if test="first != null and last != null">
            LIMIT #{first}, #{last}
        </if>
    </select>

    <delete id="delete">
        DELETE FROM tb_site_message WHERE id = #{id}
    </delete>

    <update id="update" parameterType="siteMessage">
        UPDATE
            tb_site_message
        SET
            creation_time = #{creationTime},
            type = #{type},
            channel = #{channel},
            from_user_id = #{fromUserId},
            to_user_id = #{toUserId},
            title = #{title},
            content = #{content},
            push_message = #{pushMessage},
            is_read = #{isRead},
            read_time = #{readTime},
            link = #{link, typeHandler=com.fuyu.basic.message.dao.entity.handler.MapTypeHandler},
            data = #{data, typeHandler=com.fuyu.basic.message.dao.entity.handler.MapTypeHandler},
            retry_count = #{retryCount},
            max_retry_count = #{maxRetryCount},
            last_send_time = #{lastSendTime},
            exception = #{exception},
            status = #{status},
            success_time = #{successTime},
            remark = #{remark}
        WHERE
            id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="siteMessage">
        INSERT INTO tb_site_message (
            creation_time,
            type,
            channel,
            from_user_id,
            to_user_id,
            title,
            content,
            push_message,
            is_read,
            read_time,
            link,
            data,
            retry_count,
            max_retry_count,
            last_send_time,
            exception,
            status,
            success_time,
            remark
        ) VALUES (
            #{creationTime},
            #{type},
            #{channel},
            #{fromUserId},
            #{toUserId},
            #{title},
            #{content},
            #{pushMessage},
            #{isRead},
            #{readTime},
            #{link, typeHandler=com.fuyu.basic.message.dao.entity.handler.MapTypeHandler},
            #{data, typeHandler=com.fuyu.basic.message.dao.entity.handler.MapTypeHandler},
            #{retryCount},
            #{maxRetryCount},
            #{lastSendTime},
            #{exception},
            #{status},
            #{successTime},
            #{remark}
        )
    </insert>

    <!-- 将代码添加到以下区域，以免生成后被覆盖 -->

    <select id="countUnreadQuantity" resultType="java.util.Map">
        SELECT
            type 'type',
            COUNT(id) 'quantity'
        FROM
            tb_site_message
        WHERE
            to_user_id = #{userId}
        GROUP BY
            type
    </select>

</mapper>