<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 短信消息数据访问映射 -->
<mapper namespace="com.fuyu.basic.message.dao.SmsMessageDao">

    <resultMap id="baseResultMap" type="com.fuyu.basic.message.dao.entity.SmsMessage">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="channel" jdbcType="VARCHAR" property="channel"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="retry_count" jdbcType="TINYINT" property="retryCount"/>
        <result column="max_retry_count" jdbcType="TINYINT" property="maxRetryCount"/>
        <result column="last_send_time" jdbcType="TIMESTAMP" property="lastSendTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="success_time" jdbcType="TIMESTAMP" property="successTime"/>
        <result column="exception" jdbcType="VARCHAR" property="exception"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 查询条件 -->
    <sql id="selectCondition">
        <include refid="com.fuyu.basic.message.support.Include.smsMessageSelectCondition"></include>
    </sql>

    <sql id="baseColumnList">
        id,
        creation_time,
        type,
        channel,
        phone_number,
        content,
        retry_count,
        max_retry_count,
        last_send_time,
        status,
        success_time,
        exception,
        remark
    </sql>

    <select id="get" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_sms_message
        WHERE
            id = #{id}
    </select>

    <select id="lock" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_sms_message
        WHERE
            id = #{id}
        FOR UPDATE
    </select>

    <select id="count" resultType="long" parameterType="java.util.Map">
        SELECT
            COUNT(id)
        FROM
            tb_site_message
        <include refid="selectCondition" />
    </select>

    <select id="find" resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
            <include refid="baseColumnList"/>
        FROM
        tb_sms_message
            <include refid="selectCondition"/>
        ORDER BY id DESC
        <if test="first != null and last != null">
            LIMIT #{first}, #{last}
        </if>
    </select>

    <delete id="delete">
        DELETE FROM tb_sms_message WHERE id = #{id}
    </delete>

    <update id="update" parameterType="smsMessage">
        UPDATE
            tb_sms_message
        SET
            creation_time = #{creationTime},
            type = #{type},
            channel = #{channel},
            phone_number = #{phoneNumber},
            content = #{content},
            retry_count = #{retryCount},
            max_retry_count = #{maxRetryCount},
            last_send_time = #{lastSendTime},
            status = #{status},
            success_time = #{successTime},
            exception = #{exception},
            remark = #{remark}
        WHERE
            id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="smsMessage">
        INSERT INTO tb_sms_message (
            creation_time,
            type,
            channel,
            phone_number,
            content,
            retry_count,
            max_retry_count,
            last_send_time,
            status,
            success_time,
            exception,
            remark
        ) VALUES (
            #{creationTime},
            #{type},
            #{channel},
            #{phoneNumber},
            #{content},
            #{retryCount},
            #{maxRetryCount},
            #{lastSendTime},
            #{status},
            #{successTime},
            #{exception},
            #{remark}
        )
    </insert>

    <!-- 将代码添加到以下区域，以免生成后被覆盖 -->

</mapper>