<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--系统用户映射文件-->

<mapper namespace="com.fuyu.basic.authentication.dao.ConsoleUserDao">

    <resultMap id="baseResultMap" type="com.fuyu.basic.authentication.dao.entity.ConsoleUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 查询条件 -->
    <sql id="selectCondition">
        <include refid="com.fuyu.basic.authentication.support.Include.consoleUserSelectCondition"></include>
    </sql>

    <sql id="baseColumnList">
        id,
        email,
        password,
        status,
        username,
        real_name,
        creation_time,
        remark
    </sql>

    <select id="get" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM
        tb_console_user
        WHERE
        id = #{id}
    </select>

    <select id="lock" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM
        tb_console_user
        WHERE
        id = #{id}
        FOR UPDATE
    </select>

    <select id="count" resultType="long" parameterType="java.util.Map">
        SELECT
            COUNT(id)
        FROM
            tb_console_user
        <include refid="selectCondition" />
    </select>

    <select id="find" resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="baseColumnList"/>
        FROM
        tb_console_user
        <include refid="selectCondition"/>
        ORDER BY id DESC
        <if test="first != null and last != null">
            LIMIT #{first}, #{last}
        </if>
    </select>

    <delete id="delete">
        DELETE FROM tb_console_user WHERE id = #{id}
    </delete>

    <update id="update" parameterType="consoleUser">
        UPDATE
            tb_console_user
        SET
            email = #{email},
            password = #{password},
            status = #{status},
            username = #{username},
            real_name = #{realName},
            creation_time = #{creationTime},
            remark = #{remark}
        WHERE
            id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="consoleUser">
        INSERT INTO tb_console_user (
            email,
            password,
            status,
            username,
            real_name,
            creation_time,
            remark
        ) VALUES (
            #{email},
            #{password},
            #{status},
            #{username},
            #{realName},
            #{creationTime},
            #{remark}
        )
    </insert>

    <!-- 将代码添加到以下区域，以免生成后被覆盖 -->

    <delete id="deleteGroupAssociation">
        DELETE FROM tb_group_console_user WHERE user_id = #{id}
    </delete>

    <delete id="deleteResourceAssociation">
        DELETE FROM tb_console_user_resource WHERE user_id = #{id}
    </delete>

    <insert id="insertGroupAssociation">
        INSERT INTO
        tb_group_console_user(user_id,group_id)
        VALUES
        <foreach collection="groupIds" item="groupId" index="index" separator=",">
            (#{id}, #{groupId})
        </foreach>
    </insert>

    <insert id="insertResourceAssociation">
        INSERT INTO
        tb_console_user_resource(user_id,resource_id)
        VALUES
        <foreach collection="resourceIds" item="resourceId" index="index" separator=",">
            (#{id}, #{resourceId})
        </foreach>
    </insert>

    <update id="updatePassword">
        UPDATE
            tb_console_user
        SET
            password = #{password}
        WHERE
            id = #{id}
    </update>

</mapper>