<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--用户组表，相当于用户角色。映射文件-->

<mapper namespace="com.github.dactiv.basic.authentication.dao.GroupDao">

    <resultMap id="baseResultMap" type="com.github.dactiv.basic.authentication.dao.entity.Group">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="authority" jdbcType="VARCHAR" property="authority"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="can_be_delete" jdbcType="TINYINT" property="canBeDelete"/>
        <result column="can_be_modify" jdbcType="TINYINT" property="canBeModify"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 查询条件 -->
    <sql id="selectCondition">
        <include refid="com.github.dactiv.basic.basic.authentication.support.Include.groupSelectCondition"></include>
    </sql>

    <sql id="baseColumnList">
        id,
        name,
        authority,
        source,
        parent_id,
        can_be_delete,
        can_be_modify,
        status,
        creation_time,
        remark
    </sql>

    <select id="get" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_group
        WHERE
        id = #{id}
    </select>

    <select id="lock" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_group
        WHERE
            id = #{id}
        FOR UPDATE
    </select>

    <select id="count" resultType="long" parameterType="java.util.Map">
        SELECT
            COUNT(id)
        FROM
            tb_group
        <include refid="selectCondition" />
    </select>

    <select id="find" resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
            <include refid="baseColumnList"/>
        FROM
            tb_group
        <include refid="selectCondition"/>
        ORDER BY id DESC
        <if test="first != null and last != null">
            LIMIT #{first}, #{last}
        </if>
    </select>

    <delete id="delete">
        DELETE FROM tb_group WHERE id = #{id}
    </delete>

    <update id="update" parameterType="group">
        UPDATE
            tb_group
        SET
            name = #{name},
            authority = #{authority},
            source = #{source},
            parent_id = #{parentId},
            can_be_delete = #{canBeDelete},
            can_be_modify = #{canBeModify},
            status = #{status},
            creation_time = #{creationTime},
            remark = #{remark}
        WHERE
            id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="group">
        INSERT INTO tb_group (
            name,
            authority,
            source,
            parent_id,
            can_be_delete,
            can_be_modify,
            status,
            creation_time,
            remark
        ) VALUES (
            #{name},
            #{authority},
            #{source},
            #{parentId},
            #{canBeDelete},
            #{canBeModify},
            #{status},
            #{creationTime},
            #{remark}
        )
    </insert>

    <!-- 将代码添加到以下区域，以免生成后被覆盖 -->

    <select id="getConsoleUserGroups" resultMap="baseResultMap">
        SELECT
          g.id,
          g.name,
          g.authority,
          g.source,
          g.parent_id,
          g.can_be_delete,
          g.can_be_modify,
          g.remark
        FROM
          tb_group g
        LEFT JOIN
          tb_group_console_user gu ON g.id = gu.group_id
        LEFT JOIN
          tb_console_user u ON u.id = gu.user_id
        WHERE
          u.id = #{userId}
    </select>

    <select id="getMemberUserGroups" resultMap="baseResultMap">
        SELECT
          g.id,
          g.name,
          g.authority,
          g.source,
          g.parent_id,
          g.can_be_delete,
          g.can_be_modify,
          g.remark
        FROM
          tb_group g
        LEFT JOIN
          tb_group_member_user gu ON g.id = gu.group_id
        LEFT JOIN
          tb_member_user u ON u.id = gu.user_id
        WHERE
          u.id = #{userId}
    </select>

    <insert id="insertResourceAssociation">
        INSERT INTO
        tb_group_resource(group_id,resource_id)
        VALUES
        <foreach collection="resourceIds" item="resourceId" index="index" separator=",">
            (#{id}, #{resourceId})
        </foreach>
    </insert>

    <delete id="deleteResourceAssociation">
        DELETE FROM tb_group_resource WHERE group_id = #{id}
    </delete>

    <delete id="deleteConsoleUserAssociation">
        DELETE FROM tb_group_console_user WHERE group_id = #{id}
    </delete>

    <delete id="deleteMemberUserAssociation">
        DELETE FROM tb_group_member_user WHERE group_id = #{id}
    </delete>

</mapper>