<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fuyu.basic.authentication.support.Include">

    <!-- tb_member_user_initialization[用户初始化表]列表查询条件 -->
    <sql id="memberUserInitializationSelectCondition">
        <where>
            <trim suffixOverrides="AND">
                <if test="userIdEq != null and !''.equals(userIdEq)">
                    AND user_id = #{userIdEq}
                </if>
            </trim>
        </where>
    </sql>

    <!-- tb_member_user[会员用户表]列表查询条件 -->
    <sql id="memberUserSelectCondition">
        <where>
            <trim suffixOverrides="AND">
                <if test="usernameLike != null and !''.equals(usernameLike)">
                    <bind name="usernameLike" value=" '%' + usernameLike + '%' "/>
                    AND username LIKE #{usernameLike}
                </if>

                <if test="usernameEq != null and !''.equals(usernameEq)">
                    AND username = #{usernameEq}
                </if>

                <if test="emailLike != null and !''.equals(emailLike)">
                    <bind name="emailLike" value=" '%' + emailLike + '%' "/>
                    AND email LIKE #{emailLike}
                </if>

                <if test="emailEq != null and !''.equals(emailEq)">
                    AND email = #{emailEq}
                </if>

                <if test="phoneLike != null and !''.equals(phoneLike)">
                    <bind name="phoneLike" value=" '%' + phoneLike + '%' "/>
                    AND phone LIKE #{phoneLike}
                </if>

                <if test="phoneEq != null and !''.equals(phoneEq)">
                    AND phone = #{phoneEq}
                </if>
            </trim>
        </where>
    </sql>

    <!-- tb_resource[资源表]列表查询条件 -->
    <sql id="resourceSelectCondition">
        <where>
            <trim suffixOverrides="AND">
                <if test="nameLike != null and !''.equals(nameLike)">
                    <bind name="nameLike" value=" '%' + nameLike + '%' "/>
                    AND name LIKE #{nameLike}
                </if>

                <if test="authorityLike != null and !''.equals(authorityLike)">
                    <bind name="authorityLike" value=" '%' + authorityLike + '%' "/>
                    AND name LIKE #{authorityLike}
                </if>

                <if test="codeEq != null and !''.equals(codeEq)">
                    AND code = #{codeEq}
                </if>

                <if test="codeNeq != null and !''.equals(codeNeq)">
                    <![CDATA[  AND code <> #{codeNeq} ]]>
                </if>

                <if test="sourceContains != null and sourceContains.size > 0">
                    AND source IN
                    <foreach collection="sourceContains" item="s" index="index" open="(" close=")" separator=",">
                        #{s}
                    </foreach>
                </if>

                <if test="applicationNameNotContains != null and !''.equals(applicationNameEq)">
                    AND application_name NOT IN
                    <foreach collection="applicationNameNotContains" item="s" index="index" open="(" close=")" separator=",">
                        #{s}
                    </foreach>
                </if>

                <if test="applicationNameEq != null and !''.equals(applicationNameEq)">
                    AND application_name = #{applicationNameEq}
                </if>

                <if test="typeEq != null and !''.equals(typeEq)">
                    AND type = #{typeEq}
                </if>

                <if test="parentIdEq != null and !''.equals(parentIdEq)">
                    AND parent_id = #{parentIdEq}
                </if>
            </trim>
        </where>
    </sql>

    <!-- tb_group[用户组表]列表查询条件 -->
    <sql id="groupSelectCondition">
        <where>
            <trim suffixOverrides="AND">
                <if test="authorityEq != null and !''.equals(authorityEq)">
                    AND authority = #{authorityEq}
                </if>

                <if test="canBeDeleteEq != null and !''.equals(canBeDeleteEq)">
                    AND can_be_delete = #{canBeDeleteEq}
                </if>

                <if test="canBeModifyEq != null and !''.equals(canBeModifyEq)">
                    AND can_be_modify = #{canBeModifyEq}
                </if>

                <if test="statusEq != null and !''.equals(statusEq)">
                    AND status = #{statusEq}
                </if>

                <if test="nameLike != null and !''.equals(nameLike)">
                    <bind name="nameLike" value=" '%' + nameLike + '%' "/>
                    AND name LIKE #{nameLike}
                </if>

                <if test="parentIdEq != null and !''.equals(parentIdEq)">
                    AND parent_id = #{parentIdEq}
                </if>

                <if test="sourceContains != null and sourceContains.size > 0">
                    AND (
                    <foreach collection="sourceContains" item="s" separator="OR">
                        <bind name="s" value=" '%' + s + '%' "/>
                        source LIKE #{s}
                    </foreach>
                    )
                </if>
            </trim>
        </where>
    </sql>

    <!-- tb_console_user[后台用户表]列表查询条件 -->
    <sql id="consoleUserSelectCondition">
        <where>
            <trim suffixOverrides="AND">

                <if test="usernameLike != null and !''.equals(usernameLik)">
                    <bind name="usernameLike" value=" '%' + usernameLike + '%' "/>
                    AND username LIKE #{usernameLike}
                </if>

                <if test="usernameEq != null and !''.equals(usernameEq)">
                    AND username = #{usernameEq}
                </if>

                <if test="realNameLike != null and !''.equals(realNameLike)">
                    <bind name="realNameLike" value=" '%' + realNameLike + '%' "/>
                    AND real_name LIKE #{realNameLike}
                </if>

                <if test="emailLike != null and !''.equals(emailLike)">
                    <bind name="emailLike" value=" '%' + emailLike + '%' "/>
                    AND email LIKE #{emailLike}
                </if>

                <if test="emailEq != null and !''.equals(emailEq)">
                    AND email = #{emailEq}
                </if>

                <if test="statusEq != null and !''.equals(statusEq)">
                    AND status = #{statusEq}
                </if>

                <if test="creationTimeGte != null and !''.equals(creationTimeGte)">
                    <![CDATA[ AND creation_time >= #{creationTimeGte} ]]>
                </if>

                <if test="creationTimeLte != null and !''.equals(creationTimeLte)">
                    <![CDATA[ AND creation_time <= #{creationTimeLte} ]]>
                </if>
            </trim>
        </where>
    </sql>

    <!-- tb_authentication_info[认证信息表]列表查询条件 -->
    <sql id="authenticationInfoSelectCondition">
        <where>
            <trim suffixOverrides="AND">

                <if test="idNeq != null and !''.equals(idNeq)">
                    <![CDATA[ AND id <> #{idNeq} ]]>
                </if>

                <if test="userIdEq != null and !''.equals(userIdEq)">
                    AND user_id = #{userIdEq}
                </if>

                <if test="typeNeq != null and !''.equals(typeNeq)">
                    <![CDATA[ AND type <> #{typeNeq} ]]>
                </if>

                <if test="syncStatusEq != null and !''.equals(syncStatusEq)">
                    AND sync_status = #{syncStatusEq}
                </if>

                <if test="syncStatusNeq != null and !''.equals(syncStatusNeq)">
                    <![CDATA[AND sync_status <> #{syncStatusNeq} ]]>
                </if>

                <if test="retryCountLeq != null and !''.equals(retryCountLeq)">
                    <![CDATA[AND retry_count <= #{retryCountLeq} ]]>
                </if>

                <if test="typeContain != null and typeContain.size > 0">
                    AND type IN
                    <foreach collection="typeContain" item="s" index="index" open="(" close=")" separator=",">
                        #{s}
                    </foreach>
                </if>

            </trim>
        </where>
    </sql>

</mapper>