<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户初始化表数据访问映射 -->
<mapper namespace="com.github.dactiv.basic.authentication.dao.MemberUserInitializationDao">

    <resultMap id="baseResultMap" type="com.github.dactiv.basic.authentication.dao.entity.MemberUserInitialization">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="modify_password" jdbcType="TINYINT" property="modifyPassword"/>
        <result column="modify_username" jdbcType="TINYINT" property="modifyUsername"/>
        <result column="build_email" jdbcType="TINYINT" property="buildEmail"/>
    </resultMap>

    <!-- 查询条件 -->
    <sql id="selectCondition">
        <include
                refid="com.github.dactiv.basic.basic.authentication.support.Include.memberUserInitializationSelectCondition"></include>
    </sql>

    <sql id="baseColumnList">
        id,
        user_id,
        modify_password,
        modify_username,
        build_email
    </sql>

    <select id="get" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM
        tb_member_user_initialization
        WHERE
        id = #{id}
    </select>

    <select id="lock" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnList"/>
        FROM
        tb_member_user_initialization
        WHERE
        id = #{id}
        FOR UPDATE
    </select>

    <select id="count" resultType="long" parameterType="java.util.Map">
        SELECT
            COUNT(id)
        FROM
            tb_member_user_initialization
        <include refid="selectCondition" />
    </select>

    <select id="find" resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
            <include refid="baseColumnList"/>
        FROM
        tb_member_user_initialization
            <include refid="selectCondition"/>
        ORDER BY id DESC
        <if test="first != null and last != null">
            LIMIT #{first}, #{last}
        </if>
    </select>

    <delete id="delete">
        DELETE FROM tb_member_user_initialization WHERE id = #{id}
    </delete>

    <update id="update" parameterType="memberUserInitialization">
        UPDATE
            tb_member_user_initialization
        SET
            user_id = #{userId},
            modify_password = #{modifyPassword},
            modify_username = #{modifyUsername},
            build_email = #{buildEmail}
        WHERE
            id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="memberUserInitialization">
        INSERT INTO tb_member_user_initialization (
            user_id,
            modify_password,
            modify_username,
            build_email
        ) VALUES (
            #{userId},
            #{modifyPassword},
            #{modifyUsername},
            #{buildEmail}
        )
    </insert>

    <!-- 将代码添加到以下区域，以免生成后被覆盖 -->

</mapper>